<div class="container">
   <h1>List of sellers</h1>
   
   <div class="delete-wrapper">
      <button (click)="deleteAll()" class="delete-btn">Delete all</button>
   </div>
   
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         @for (seller of sellers; track $index) {
            <tr>
               <td>{{seller.name}}</td>
               <td>{{seller.email}}</td>
               <td>
                  <button>Edit</button>
                  <button (click)="deleteSingle(seller.id)" [disabled]="deleteLoading">Delete</button>
               </td>
            </tr>
         }
      </tbody>
   </table>
</div>
