
<!-- @if (showModal1) { -->
   <!-- <app-modal teleport-index="1">
      modal 1
   </app-modal> -->
<!-- } -->

<button (click)="toggleModal1()">Toggle modal 1</button>

<div class="container">
   <h1>List of sellers</h1>
   
   <div class="delete-wrapper">
      <button (click)="deleteAll()" class="delete-btn">Delete all</button>
   </div>
   @if (fetchLoading) {
      <h2>Fetching data...</h2>
   }
   @else if (sellers.length === 0) {
      <h2>No seller yet !</h2>
   } @else {
      <table>
         <thead>
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Email</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            @for (seller of sellers; track $index) {
               <tr>
                  <td>{{seller.id}}</td>
                  <td>{{seller.name}}</td>
                  <td>{{seller.email}}</td>
                  <td>
                     <button>Edit</button>
                     <!-- <button (click)="deleteSingle(seller.id)" [disabled]="deleteLoading">Delete</button> -->
                     <button (click)="openDialog(seller)" [disabled]="deleteLoading">Delete</button>
                  </td>
               </tr>
            }
         </tbody>
      </table>
   }
   
</div>
