<header>
   <div class="container">
      <div class="logo">
         <a routerLink="">Market Plaza</a>
      </div>
      <div class="accounts">
         <div class="dropdown mr-2">
            <div class="dropdown-text">
               For Seller
            </div>
            <nav class="dropdown-menu">
               <li class="dropdown-item">
                  <a routerLink="seller/create">Create Account</a>   
               </li>
               <li class="dropdown-item"><a routerLink="/seller/login">Sign In</a></li>
            </nav>
         </div>

         <div class="dropdown">
            <div class="dropdown-text">
               Sign Up/In
            </div>
         </div>
      </div>
   </div>
</header>
