<header>
   <div class="container">
      <div class="logo">
         <a routerLink="">Market Plaza</a>
      </div>

      @if (userService.user) {
         <div class="envelope-image-wrapper" routerLink="/review-notif-list">
            <img class="envelope-image" src="/images/envelope.png" alt="">
            <div class="notif-count">{{notifService.notifs.length}}</div>
         </div>
         <div class="logged-in-dropdown dropdown">
            <div class="logged-in-image-wrapper"><img [src]="env.apiUrl() + '/user/' + userService.user.image" alt="user image" class="logged-in-image"></div>
            <div class="logged-in-name">{{ userService.user.name }}</div>

            <nav class="dropdown-menu">
               <li class="dropdown-item"><a routerLink="user">Profile</a></li>
               <li class="dropdown-item logout" (click)="userLogout()">Logout</li>
            </nav>
         </div>
      } @else if (sellerService.seller) {
         <div class="logged-in-dropdown dropdown">
            <div class="logged-in-image-wrapper"><img [src]="sellerService.seller.image ? env.apiUrl() + '/seller/' + sellerService.seller.image : '/images/store.png'" alt="seller image" class="logged-in-image"></div>
            <div class="logged-in-name">{{ sellerService.seller.name }}</div>

            <nav class="dropdown-menu">
               <li class="dropdown-item"><a routerLink="seller">Home</a></li>
               <li class="dropdown-item logout" (click)="sellerLogout()">Logout</li>
            </nav>
         </div>
      } @else {
         <div class="accounts">
            <div class="dropdown mr-2">
               <div class="dropdown-text">
                  For Seller
               </div>
               <nav class="dropdown-menu">
                  <li class="dropdown-item">
                     <a routerLink="seller/create">Create Account</a>   
                  </li>
                  <li class="dropdown-item"><a routerLink="/seller/login">Sign In</a></li>
               </nav>
            </div>
   
            <div class="dropdown">
               <div class="dropdown-text">
                  Sign Up/In
               </div>
               <nav class="dropdown-menu">
                  <li class="dropdown-item">
                     <a routerLink="/user/create">Create Account</a>   
                  </li>
                  <li class="dropdown-item"><a routerLink="/user/login">Sign In</a></li>
               </nav>
            </div>
         </div>
      }

   </div>
</header>
