@import '../../styles.scss';


.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;

   padding: 32px;

   .number {
      font-size: 56px;
   }

   a {
      padding: 8px;
      &:hover {
         color: $primary;
         background-color: black;
      }
   }
}