<button [routerLink]="['/seller/edit']" [state]="{id: seller.id}" routerLinkActive="router-link-active">Edit Profile</button>
<button [routerLink]="['/seller/product/create/']" [state]="{id: seller.id}" routerLinkActive="router-link-active">Create Product</button>

<h1>Seller Home</h1>

@if (loading) {
   <img src="/images/load-spinner.png" alt="" class="rotate">
} @else {
   <ul class="list-none">
      <img [src]="seller.image ? env.apiUrl() +'/seller/'+ seller.image : env.apiUrl() + '/default-admin.jpg'" alt="profile picture" class="profile-picture">
      <li>Name: {{seller.name}}</li>
      <li>Email: {{seller.email}}</li>
      <li>Products: {{products.length}}</li>
   </ul>
}

<h2>List of Product</h2>
@if (products.length > 0) {
   <ul class="list-none list-product">
      @for (product of products; track $index) {
         <li class="product">
            <div class="btn-wrapper">
               <app-button text="Edit" (onClick)="editProduct(product)" />
               <app-button text="Delete" color="danger" (onClick)="openDialog(product)"/>
            </div>
            <div><img [src]="env.apiUrl() + '/product/'+product.image" [alt]="'Picture of ' + product.name" class="product-image"></div>
            <div>Name: {{ product.name }}</div>
            <div>Stock: {{ product.stock}}</div>
            <div>Price: {{ product.price | idr }}</div>
         </li>
      }
   </ul>
}