.profile-picture {
   width: 100px;
   display: block;
}
.product-image {
   width: 100px;
   display: block;
   margin-bottom: 8px;
}
.list-product {
   display: flex;
   justify-content: flex-start;
}
.product {
   position: relative;
   max-width: 300px;
   padding: 8px;
   margin-right: 16px;
   margin-bottom: 16px;
   &:hover {
      .btn-wrapper {
         display: flex;
      }
      box-shadow: -3px 5px 10px 1px #e4e0ce;
   }
   
   .btn-wrapper {
      position: absolute;
      top: 8px;
      right: 8px;
      display: none;
   }

   .name {
      // font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
   }
   .stock {
      font-size: 14px;
      margin-bottom: 8px;
   }
}
