.profile-picture {
   width: 100px;
   display: block;
}
.product-image {
   width: 100px;
   display: block;
}
.list-product {
   display: flex;
   justify-content: flex-start;
}
.product {
   position: relative;
   margin-right: 16px;
   &:hover {
      .btn-wrapper {
         display: flex;
      }
   }
   
   .btn-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
   }
}
