<button [routerLink]="['/seller/edit']" [state]="{id: seller.id}" routerLinkActive="router-link-active">Edit Profile</button>
<button [routerLink]="['/seller/product/create/']" [state]="{id: seller.id}" routerLinkActive="router-link-active">Create Product</button>

<h1>Seller Home</h1>

@if (loading) {
   <img src="/images/load-spinner.png" alt="" class="rotate">
} @else {
   <ul>
      <img [src]="seller.image ? env.apiUrl() +'/seller/'+ seller.image : env.apiUrl() + '/default-admin.jpg'" alt="profile picture" class="profile-picture">
      <li>Name: {{seller.name}}</li>
      <li>Email: {{seller.email}}</li>
   </ul>
}

<h2>List of Product</h2>
@if (products.length > 0) {
   <ul>
      @for (product of products; track $index) {
         <li>{{ product.name }}</li>
      }
   </ul>
}