<div class="container">
   <h1 class="h1 mt-2 mb-4">Write your review</h1>
   <div class="wrapper">
      <form action="" [formGroup]="form" (submit)="submit($event)">
   
         <app-label>
            <div>Your review</div>
            <app-textarea [control]="form.controls.review"/>
         </app-label>
         <app-label>
            <div>Your Rating</div>
            @for (lit of rate; track $index) {
               @if (lit) {
                  <!-- bintang gold -->
                  <svg (click)="setRate($index)" class="star-icon" viewBox="0 0 24 24" width="50" height="50" fill="var(--YN300, #FFC400)" aria-hidden="true" style="display: inline-block; margin-right: 2px; vertical-align: middle;"><path d="M21.57 9.14a2.37 2.37 0 0 0-1.93-1.63L15.9 7l-1.68-3.4a2.38 2.38 0 0 0-4.27 0L8.27 7l-3.75.54a2.39 2.39 0 0 0-1.32 4.04l2.71 2.64L5.27 18a2.38 2.38 0 0 0 2.35 2.79 2.42 2.42 0 0 0 1.11-.27l3.35-1.76 3.35 1.76a2.41 2.41 0 0 0 2.57-.23 2.369 2.369 0 0 0 .89-2.29l-.64-3.73L21 11.58a2.38 2.38 0 0 0 .57-2.44Z"></path></svg>
               } @else {
                  <!-- bintang abu -->
                  <svg (click)="setRate($index)" class="star-icon" viewBox="0 0 24 24" width="50" height="50" fill="var(--NN200, #D6DFEB)" aria-hidden="true" style="display: inline-block; margin-right: 2px; vertical-align: middle;"><path d="M21.57 9.14a2.37 2.37 0 0 0-1.93-1.63L15.9 7l-1.68-3.4a2.38 2.38 0 0 0-4.27 0L8.27 7l-3.75.54a2.39 2.39 0 0 0-1.32 4.04l2.71 2.64L5.27 18a2.38 2.38 0 0 0 2.35 2.79 2.42 2.42 0 0 0 1.11-.27l3.35-1.76 3.35 1.76a2.41 2.41 0 0 0 2.57-.23 2.369 2.369 0 0 0 .89-2.29l-.64-3.73L21 11.58a2.38 2.38 0 0 0 .57-2.44Z"></path></svg>
               }
            }
         </app-label>
         <!-- <button type="submit" [disabled]="form.invalid">
            Save
         </button> -->
         <app-button text="Save" type="submit" [disabled]="form.invalid" />
      </form>
      @if (productLoading) {
         <div class="spinner-wrapper">
            <img src="/images/load-spinner.png" alt="" class="rotate">
         </div>   
      } @else {
         <div class="product">
            <div class="product-image-wrapper"><img class="product-image" [src]="env.apiUrl()+'/product/'+product.image" alt=""></div>
            <div class="product-name">{{ product.name }}</div>
            <div class="product-price">{{ product.price | idr }}</div>
            <div class="product-description">{{ product.description }}</div>
         </div>
      }
   </div>
</div>


