<div class="wrapper">
   <h2>This is parent component {{ this.daun }}</h2>
   <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem pariatur labore sed ipsam aspernatur vel quis consectetur cum incidunt necessitatibus, excepturi fugit quas illum quidem consequatur dignissimos temporibus, blanditiis magni.</div>

   <div style="border: 1px solid black; margin: 10px 0px">
      <h4>Content projection</h4>
      <ng-content></ng-content>
   </div>
</div>

<div style="border: 1px solid black; margin: 10px 0px">
   <h4>Inside parent view</h4>
   <app-child />
</div>
