<main>
  <app-header />

  <a routerLink="/seller">Seller list</a>


  <router-outlet />

  
  <!-- <div>
    <a routerLink="coba/first" routerLinkActive="active" ariaCurrentWhenActive="page">To first component</a>
    <a routerLink="second" routerLinkActive="active" ariaCurrentWhenActive="page">To second component</a>
  </div>
  <button (click)="getData()">Get Data</button>
  <button (click)="clear()">Clear</button>
  <div>Name: {{dataName}}</div>
  <div>Email: {{dataEmail}}</div>

  <h3>Create an Admin</h3>
  <form action="" [formGroup]="adminForm" (ngSubmit)="submitAdmin($event)" enctype="multipart/form-data">
    <label for="username">username:
      <input type="text" id="username" formControlName="username">
    </label>
    <label for="password">password:
      <input type="text" id="password" formControlName="password">
    </label>
    <label for="name">Name:
      <input type="text" id="name" formControlName="name">
    </label>
    <label for="email">Email:
      <input type="text" id="email" formControlName="email">
    </label>
    <label for="image">Image:
      <input type="file" id="image" (change)="changeImage($event)">
    </label>
    <button type="submit">Submit</button>
  </form>

  <router-outlet></router-outlet> -->
</main>