@import '../../styles.scss';

button {
   padding: 8px;
   display: block;
   border-radius: 8px;
   border: none;

   &.primary {
      background-color: $primary;
   }
   &.danger {
      background-color: $danger;
   }
   &.outline {
      background-color: transparent;
      border: 2px solid $primary;
      // color: $primary;
   }

   &:active:not(:disabled) {
      &.primary {
         background-color: darken($color: $primary, $amount: 5);
      }
      &.danger {
         background-color: darken($color: $danger, $amount: 5);
      }
   }
   &:hover {
      cursor: pointer;
   }
   &:disabled {
      cursor: not-allowed;
   }
}