/* You can add global styles to this file, and also import other style files */


$primary: #ffe4c4;

body {
   padding: 0;
   margin: 0;
}

a { 
   color: inherit;
   text-decoration: inherit;
}
.container {
   padding-left: 32px;
   padding-right: 32px;
}

.form-alert {
   width: fit-content;
   padding: 4px;
   border-radius: 8px;
   border: 2px solid rgb(221, 87, 87);
   background-color: rgb(248, 200, 212);
}

@for $i from 1 through 20 {
   .mr-#{$i} {
      margin-right: #{$i * 0.25}rem ;
   }
}
@for $i from 1 through 20 {
   .mb-#{$i} {
      margin-bottom: #{$i * 0.25}rem ;
   }
}
