/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';


$primary: #ffe4c4;
$danger: rgb(243, 108, 105);

body {
   padding: 0;
   margin: 0;
}
body, textarea {
   font-family: Arial, Helvetica, sans-serif;
}

* {
   box-sizing: border-box;
}

a { 
   color: inherit;
   text-decoration: inherit;
}
.container {
   padding-left: 32px;
   padding-right: 32px;
}

.form-alert {
   width: fit-content;
   padding: 4px;
   font-size: 14px;
   border-radius: 8px;
   border: 2px solid rgb(221, 87, 87);
   background-color: rgb(248, 200, 212);
}
@keyframes spinner {
   to { transform: rotate(360deg);}
}
.rotate {
   animation: spinner 1.5s linear infinite;
}

.list-none {
   list-style: none;
}

@for $i from 1 through 20 {
   .mr-#{$i} {
      margin-right: #{$i * 0.25}rem ;
   }
}
@for $i from 1 through 20 {
   .ml-#{$i} {
      margin-left: #{$i * 0.25}rem ;
   }
}
.ml-auto {margin-left: auto};
@for $i from 1 through 20 {
   .mb-#{$i} {
      margin-bottom: #{$i * 0.25}rem ;
   }
}
.flex {display: flex;}
.flex-column { flex-direction: column;}
.justify-normal	{justify-content: normal;}
.justify-start	{justify-content: flex-start;}
.justify-end	{justify-content: flex-end;}
.justify-center {justify-content: center};
.justify-between	{justify-content: space-between;}
.justify-around	{justify-content: space-around};
.justify-evenly	{justify-content: space-evenly;}
.justify-stretch	{justify-content: stretch;}

.items-start	{align-items: flex-start;}
.items-end	{align-items: flex-end;}
.items-center	{align-items: center;}
.items-baseline	{align-items: baseline;}
.items-stretch	{align-items: stretch;}

.w-full {width: 100%;}
.text-left {text-align: left;}
