<div class="container flex-wrap">
   @if (products.length === 0) {
      <div class="no-products">No Products</div>
   }
   @for (product of products; track $index) {
      <div class="product" (click)="goToDetail(product.id)">
         <div class="product-image-wrapper">
            <img class="product-image" [src]="env.apiUrl()+'/product/'+product.image" alt="">
         </div>

         <div class="product-name">{{ product.name }}</div>
         <div class="product-price">{{ product.price | idr }}</div>
         <div class="seller-name">{{ product.Seller.name }} </div>
         <div class="product-rating">
            <!-- kalo blum ada review jangan tunjukin bintang -->
            <svg class="unf-icon" viewBox="0 0 24 24" width="16" height="16" fill="var(--YN300, #FFC400)" style="display: inline-block; margin-right: 5px; vertical-align: middle;"><path d="M21.57 9.14a2.37 2.37 0 0 0-1.93-1.63L15.9 7l-1.68-3.4a2.38 2.38 0 0 0-4.27 0L8.27 7l-3.75.54a2.39 2.39 0 0 0-1.32 4.04l2.71 2.64L5.27 18a2.38 2.38 0 0 0 2.35 2.79 2.42 2.42 0 0 0 1.11-.27l3.35-1.76 3.35 1.76a2.41 2.41 0 0 0 2.57-.23 2.369 2.369 0 0 0 .89-2.29l-.64-3.73L21 11.58a2.38 2.38 0 0 0 .57-2.44Z"></path></svg>
         </div>
      </div>
   }
</div>