.container {
   display: flex;
   gap: 8px;
   padding-top: 32px;
   padding-bottom: 32px;
}
.product {
   display: flex;
   max-width: 188px;
   flex-direction: column;
   flex-wrap: wrap;
   filter: drop-shadow(1px 1px 4px #e6e6e6);
   max-width: 188px;

   &:hover {
      cursor: pointer;
   }

   .product-image {
      display: block;
      width: 100%;
   }
   .product-name {
      font-size: 14px;
      margin-bottom: 2px;
   }
   .product-price {
      font-weight: bold;
      margin-bottom: 4px
   }
   .seller {
      display: flex;
      align-items: center;
      .seller-image {
         width: 16px;
         height: 16px;
         margin-right: 4px;
      }
      .seller-name {
         font-size: 14px;
         color: gray;
      }
   }
}
.no-products {
   font-size: 32px;
   text-align: center;
   width: 100%;
}