<h1>Create Account for Seller</h1>
<form action="" [formGroup]="sellerForm">
   <app-label for="name" text="Name">
      <app-input id="name" [control]="sellerForm.controls.name" />
   </app-label>

   <app-label for="email" text="Email">
      <app-input id="email" [control]="sellerForm.controls.email"/>
   </app-label>

   <app-label for="password" text="Password">
      <app-input id="password" [control]="sellerForm.controls.password"/>
   </app-label>

   <app-label for="re-password" text="Re-type password">
      <app-input id="re-password" [control]="sellerForm.controls.rePassword"/>
   </app-label>

</form>
<button (click)="checkValue()">Check value</button>